$sologreen: #008028;
$bg: #00802938;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  background-color: $bg;

  .star {
    font-size: 20px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
  }
}
