$solored: #008028;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .star {
    font-size: 20px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
  }
}
