$sologreen: #008028;
$bg: #00802938;

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  font-size: 12px;
  text-align: end;
  border-top: 1px solid $sologreen;
  background-color: $bg;
  height: 50px;
  margin-top: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer {
    // width: 85%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  footer {
    // width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  footer {
    // width: 95%;
  }
}
